In [1]:
import pandas as pd 
import numpy as np

In [11]:
esg = pd.read_csv(r"C:\Users\Admin\Downloads\egsd5dds5tqztqbq.csv",encoding="latin1")
esg

,Date,Company,Peer_group_root,Total_ESG_Score,Governance_Score,Social_Score,Environment_Score,TICKER
0,06/01/2014,Weyerhaeuser (Forest Products),Paper & Forestry,73,79,74,67,NaN
1,07/02/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,79,79,67,NaN
2,03/03/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,79,79,67,NaN
3,06/04/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,79,79,67,NaN
4,04/05/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,79,79,67,NaN
...,...,...,...,...,...,...,...,...
749,03/05/2015,Xerox Corp.,Software & Services,71,66,65,83,XRX
750,07/06/2015,Xerox Corp.,Software & Services,71,66,65,83,XRX
751,07/07/2015,Xerox Corp.,Software & Services,71,66,65,83,XRX
752,12/08/2015,Xerox Corp.,Software & Services,71,66,65,83,XRX
753,07/09/2015,Xerox Corp.,Software & Services,71,66,65,83,XRX

In [12]:
esg = esg[['Date','Company','Peer_group_root','Total_ESG_Score','TICKER']]
esg

,Date,Company,Peer_group_root,Total_ESG_Score,TICKER
0,06/01/2014,Weyerhaeuser (Forest Products),Paper & Forestry,73,NaN
1,07/02/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,NaN
2,03/03/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,NaN
3,06/04/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,NaN
4,04/05/2014,Weyerhaeuser (Forest Products),Paper & Forestry,74,NaN
...,...,...,...,...,...
749,03/05/2015,Xerox Corp.,Software & Services,71,XRX
750,07/06/2015,Xerox Corp.,Software & Services,71,XRX
751,07/07/2015,Xerox Corp.,Software & Services,71,XRX
752,12/08/2015,Xerox Corp.,Software & Services,71,XRX
753,07/09/2015,Xerox Corp.,Software & Services,71,XRX

In [13]:
esg = esg.sort_values(by='Total_ESG_Score', ascending=False)
esg = esg.groupby('Company').last().sort_values(by='Total_ESG_Score', ascending=False)
esg

,Date,Peer_group_root,Total_ESG_Score,TICKER
Company,,,,
KfW,04/05/2014,Banks,79,None
Lite-On Information Technology Corp.,11/02/2015,Technology Hardware,78,None
CNH Industrial N.V.,03/08/2014,Machinery,78,CNHI
The World Bank Group,07/09/2015,Banks,74,None
International Bank For Reconstruction & Development (IBRD- World Bank),07/06/2015,Banks,74,None
Compania Cervecerias Unidas S.A.,07/09/2015,Food Products,74,CCU
Tieto Oyj,07/06/2015,Software & Services,73,TIE1V
Weyerhaeuser (Forest Products),06/01/2014,Paper & Forestry,73,None
Bayer AG,06/01/2014,Pharmaceuticals,71,BAYN
SGS SA,07/02/2014,Commercial Services,70,SGSN
Xerox Corp.,07/09/2014,Software & Services,66,XRX
Xerox Corporation,06/07/2014,Software & Services,66,XRX
Halla Climate Control Corp.,05/04/2015,Auto Components,64,A018880
Hanon Systems Corp.,07/09/2015,Auto Components,64,A018880
GOL Linhas Aéreas Inteligentes S.A.,04/05/2014,Transportation,63,GOLL4
NORMA Group AG,13/10/2014,Machinery,62,NOEJ
NORMA Group SE,06/07/2014,Machinery,62,NOEJ
"AT&T, Inc.",07/12/2014,Telecommunication Services,62,T
Autogrill S.p.A.,01/06/2014,Consumer Services,61,AGL
Autogrill SpA,05/04/2015,Consumer Services,59,AGL
Sanoma Oyj,06/01/2014,Media,59,SAA1V
Halla Visteon Climate Control Corp.,06/04/2014,Auto Components,58,A018880
Essar Energy Plc,07/09/2014,Refiners & Pipelines,57,None
Genus plc,07/07/2015,Pharmaceuticals,57,GNS
Broadridge Financial Solutions Inc.,07/09/2014,Software & Services,57,BR
"Broadridge Financial Solutions, Inc.",06/01/2014,Software & Services,56,BR
"Cargill, Incorporated",06/01/2014,Food Products,56,None
Grupo Aeroportuario del Pacifico S.A.B. de CV,06/01/2014,Transportation Infrastructure,55,GAP B
Essar Energy plc,06/01/2014,Refiners & Pipelines,54,None
"Voya Financial, Inc",08/03/2015,Diversified Financials,54,VOYA
GS Yuasa Corporation,06/07/2014,Electrical Equipment,53,6674
Tsingtao Brewery Company Limited,01/06/2014,Food Products,52,168
"Tsingtao Brewery Co., Ltd.",11/02/2015,Food Products,52,168
"Molycorp, Inc.",06/01/2014,Diversified Metals,51,MCPI.Q
Mead Johnson Nutrition Company,13/10/2014,Food Products,51,MJN
"Korea Investment Holdings Co., Ltd.",07/09/2014,Diversified Financials,50,A071050
PT Gajah Tunggal Tbk,07/07/2015,Auto Components,50,GJTL
GSW Immobilien AG,07/02/2014,Real Estate,50,GIB
"SolarWinds, Inc.",07/09/2015,Software & Services,50,SWI
Globe Trade Centre SA,07/02/2014,Real Estate,49,GTC
Amplifon SpA,07/09/2014,Healthcare,49,AMP
HDFC Bank Ltd.,06/04/2014,Banks,49,HDFCBANK
Conergy AG,07/09/2014,Semiconductors,48,None
Torrent Power Ltd,07/09/2015,Utilities,48,532779
"Fidelity National Information Services, Inc.",07/12/2014,Software & Services,48,FIS
Torrent Power Limited,04/05/2014,Utilities,48,532779
SKC Co. Ltd.,10/11/2014,Chemicals,48,A011790
Conergy Global Solutions GmbH,13/10/2014,Semiconductors,47,None
Sun Art Retail Group Limited,11/02/2015,Food Retailers,47,6808
Ooredoo Q.S.C.,07/06/2015,Telecommunication Services,47,ORDS
Vocus Communications Limited,07/07/2015,Telecommunication Services,47,VOC
"Verisk Analytics, Inc.",07/06/2015,Commercial Services,45,VRSK
MIE Holdings Corporation,03/05/2015,Oil & Gas Producers,45,1555
Qatar National Bank SAQ,08/03/2015,Banks,44,QNBK
Walsin Lihwa Corp.,07/09/2015,Electrical Equipment,44,1605

In [14]:
esg.tail(10)

,Date,Peer_group_root,Total_ESG_Score,TICKER
Company,,,,
Torrent Power Limited,04/05/2014,Utilities,48,532779
SKC Co. Ltd.,10/11/2014,Chemicals,48,A011790
Conergy Global Solutions GmbH,13/10/2014,Semiconductors,47,None
Sun Art Retail Group Limited,11/02/2015,Food Retailers,47,6808
Ooredoo Q.S.C.,07/06/2015,Telecommunication Services,47,ORDS
Vocus Communications Limited,07/07/2015,Telecommunication Services,47,VOC
"Verisk Analytics, Inc.",07/06/2015,Commercial Services,45,VRSK
MIE Holdings Corporation,03/05/2015,Oil & Gas Producers,45,1555
Qatar National Bank SAQ,08/03/2015,Banks,44,QNBK
Walsin Lihwa Corp.,07/09/2015,Electrical Equipment,44,1605

In [18]:
medium_tickers = ['VOC','VRSK','19MA.F','QNBK.QA','1605.TW']

In [17]:
esg.head(10)

,Date,Peer_group_root,Total_ESG_Score,TICKER
Company,,,,
KfW,04/05/2014,Banks,79,None
Lite-On Information Technology Corp.,11/02/2015,Technology Hardware,78,None
CNH Industrial N.V.,03/08/2014,Machinery,78,CNHI
The World Bank Group,07/09/2015,Banks,74,None
International Bank For Reconstruction & Development (IBRD- World Bank),07/06/2015,Banks,74,None
Compania Cervecerias Unidas S.A.,07/09/2015,Food Products,74,CCU
Tieto Oyj,07/06/2015,Software & Services,73,TIE1V
Weyerhaeuser (Forest Products),06/01/2014,Paper & Forestry,73,None
Bayer AG,06/01/2014,Pharmaceuticals,71,BAYN
SGS SA,07/02/2014,Commercial Services,70,SGSN

In [19]:
high_tickers = ['CCU','CNHI.VI','TIETO.HE','BAYN.BE','SGSNZ.XC']

In [20]:
non_tickers = ["GME", "FOSL", "GT", "HOG", "PDCO"]

In [72]:
len(non_tickers)

50